.themes li{
    @apply relative;
}

.themes li:nth-of-type(1)::before{
    content: '';
    @apply absolute rounded-full border-2 border-blue-100;
    width: 120%;
    height: 120%;
    top: calc(var(--circleY, -0%) - 10%);
    left: 50%;
    /* left: 50%; */
    transform: translateX(-50%);
    transition: .3s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
}