.component-preview{
    width: 100%;
    height: 20em;
    @apply bg-blue-500 relative rounded-md;
  }
  
  .component-preview::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle, #dbeafe 10%, transparent 11%);
    background-size: 1em 1em;
    opacity: .5;
    inset: 0;
    z-index: 0;
    pointer-events: none;
  }
  
  .component-preview .details{
    border-radius: inherit;
  }
  
  .component-preview .details::before{
    content: '';
    @apply w-full h-full bg-gradient-to-b from-slate-950/60 to-slate-700/50 backdrop-blur-xl absolute left-0 bottom-0 pointer-events-none;
    z-index: 0;
    mask-image: linear-gradient(to top, #000, transparent);
    border-radius: inherit;
  }
  
  .component-preview .details > *{
    position: relative;
    z-index: 1;
  }
  
  .preview-div > div{
    @apply w-full h-full flex items-center justify-center;
    transform: scale(.5);
  }
  
.component-preview .get-code{
    @apply w-8 h-8 bg-blue-50 absolute right-3 rounded-full shadow-2xl cursor-pointer transition-all;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
    transition: .5s;
  }
  
  .component-preview .get-code{
    @apply bottom-5;
  }
  
  .component-preview .get-code::before{
    content: '';
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .component-preview .get-code::before{
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231d4ed8'%3E%3Cpath d='M14.18 4.276a.75.75 0 0 1 .531.918l-3.973 14.83a.75.75 0 0 1-1.45-.389l3.974-14.83a.75.75 0 0 1 .919-.53ZM16.442 7.328a.75.75 0 0 1 1.06-.056l1.737 1.564c.737.662 1.347 1.212 1.767 1.71.44.525.754 1.088.754 1.784 0 .695-.313 1.258-.754 1.782-.42.499-1.03 1.049-1.767 1.711l-1.737 1.564a.75.75 0 0 1-1.004-1.115l1.697-1.527c.788-.709 1.319-1.19 1.663-1.598.33-.393.402-.622.402-.818 0-.195-.072-.424-.402-.817-.344-.409-.875-.89-1.663-1.598l-1.697-1.527a.75.75 0 0 1-.056-1.06ZM7.502 8.387a.75.75 0 1 0-1.004-1.115L4.761 8.836c-.737.662-1.347 1.212-1.767 1.71-.44.525-.754 1.088-.754 1.784 0 .695.313 1.258.754 1.782.42.499 1.03 1.049 1.767 1.711l1.737 1.564a.75.75 0 0 0 1.004-1.115l-1.697-1.527c-.788-.709-1.319-1.19-1.663-1.598-.33-.393-.402-.622-.402-.818 0-.195.072-.424.402-.817.344-.409.875-.89 1.663-1.598l1.697-1.527Z'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .component-preview .get-code:active{
    transform: scale(.8);
  }

  .themes li{
    @apply relative w-5 h-5 bg-gradient-to-br rounded-full shadow-2xl cursor-pointer transition-all;
  }
  
  .themes li:nth-of-type(1)::before{
    content: '';
    @apply absolute rounded-full border-2 border-blue-100;
    width: 120%;
    height: 120%;
    top: calc(var(--circleY, -0%) - 10%);
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
  }
  
  