@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root{
  --bg-50 : #eef4ff,
  --bg-100: #d9e5ff,
  --bg-200: #bcd3ff,
  --bg-300: #8eb8ff,
  --bg-400: #5990ff,
  --bg-500: #3f71ff,
  --bg-600: #1b45f5,
  --bg-700: #1432e1,
  --bg-800: #1729b6,
  --bg-900: #19298f,
  --bg-950: #141b57,
}

html{
  @apply  min-h-screen bg-blue-100;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .wrapper{
    @apply  w-full h-full max-w-6xl mx-auto px-6 lg:px-8;
  }

  .grids-container{
    @apply  max-w-6xl mx-auto px-4 lg:px-8;
  }

  .cutting-effect{
    @apply relative
  }

  .cutting-effect::before{
    content: '';
    @apply w-6 h-6;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M157.732 113.13a8 8 0 0 1 2.085-11.12l67.665-46.297a8 8 0 0 1 9.036 13.205l-67.666 46.298a7.998 7.998 0 0 1-11.12-2.085Zm80.87 85.072a7.998 7.998 0 0 1-11.12 2.085L136 137.694l-42.506 29.083a36.034 36.034 0 1 1-9.05-13.195L121.832 128l-37.389-25.582a35.846 35.846 0 1 1 9.05-13.194l143.025 97.858a8 8 0 0 1 2.085 11.12ZM80 180a20 20 0 1 0-5.858 14.142A19.867 19.867 0 0 0 80 180Zm-5.858-89.858a20 20 0 1 0-28.284 0 19.867 19.867 0 0 0 28.284 0Z'/%3E%3C/svg%3E");
    position: absolute;
    bottom: -.75rem;
  }

  .pri-btn{
    @apply pl-6 pr-12 py-2 bg-gradient-to-br from-blue-400 to-blue-700 text-white rounded-full;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px, rgba(0, 0, 0, 0.05) 0px -3px 0px inset;
  }
}

.pri-btn span{
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 13.8h-1.37c-1.409 0-2.113 0-2.408-.462-.295-.461.001-1.1.593-2.378l2.731-5.9c.375-.808.562-1.212.758-1.17.196.044.196.49.196 1.38V9.7c0 .236 0 .354.073.427.073.073.191.073.427.073h1.37c1.409 0 2.113 0 2.408.462.295.461-.001 1.1-.593 2.378l-2.731 5.9c-.375.808-.562 1.212-.758 1.17C12 20.065 12 19.62 12 18.73V14.3c0-.236 0-.354-.073-.427-.073-.073-.191-.073-.427-.073Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.app{
  z-index: 1;
  position: relative;
}

.app::before{
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #2563eb 10%, transparent 11%),radial-gradient(circle at bottom left, #2563eb 5%, transparent 6%),radial-gradient(circle at bottom right, #2563eb 5%, transparent 6%),radial-gradient(circle at top left, #2563eb 5%, transparent 6%),radial-gradient(circle at top right, #2563eb 5%, transparent 6%);
  background-size: 1em 1em;
  background-attachment: fixed;
  position: absolute;
  inset: 0;
  opacity: .25;
  mask-image: linear-gradient(to right, #000, transparent, #000);
  z-index: -1;
}

.component-previews .get-code,
.preview-component{
  @apply w-8 h-8 bg-blue-50 absolute right-3 rounded-full shadow-2xl cursor-pointer transition-all;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
  transition: .5s;
}

.component-previews .get-code{
  @apply bottom-5;
}

.preview-component{
  @apply top-5;
  z-index: 1;
}

.components-showcase .preview-component{
  width: 1.8rem;
  height: 1.8rem;
  top: .6rem !important;
  right: .6rem !important;
}

.component-previews .get-code::before,
.preview-component::before{
  content: '';
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.component-previews .get-code::before{
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231d4ed8'%3E%3Cpath d='M14.18 4.276a.75.75 0 0 1 .531.918l-3.973 14.83a.75.75 0 0 1-1.45-.389l3.974-14.83a.75.75 0 0 1 .919-.53ZM16.442 7.328a.75.75 0 0 1 1.06-.056l1.737 1.564c.737.662 1.347 1.212 1.767 1.71.44.525.754 1.088.754 1.784 0 .695-.313 1.258-.754 1.782-.42.499-1.03 1.049-1.767 1.711l-1.737 1.564a.75.75 0 0 1-1.004-1.115l1.697-1.527c.788-.709 1.319-1.19 1.663-1.598.33-.393.402-.622.402-.818 0-.195-.072-.424-.402-.817-.344-.409-.875-.89-1.663-1.598l-1.697-1.527a.75.75 0 0 1-.056-1.06ZM7.502 8.387a.75.75 0 1 0-1.004-1.115L4.761 8.836c-.737.662-1.347 1.212-1.767 1.71-.44.525-.754 1.088-.754 1.784 0 .695.313 1.258.754 1.782.42.499 1.03 1.049 1.767 1.711l1.737 1.564a.75.75 0 0 0 1.004-1.115l-1.697-1.527c-.788-.709-1.319-1.19-1.663-1.598-.33-.393-.402-.622-.402-.818 0-.195.072-.424.402-.817.344-.409.875-.89 1.663-1.598l1.697-1.527Z'/%3E%3C/g%3E%3C/svg%3E");
}

.preview-component::before{
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231d4ed8'%3E%3Cpath d='M11.001 2.75A.75.75 0 0 0 11 1.25c-2.016.004-3.622.029-4.898.235-1.3.21-2.338.62-3.167 1.449-.895.894-1.3 2.034-1.494 3.48-.19 1.41-.19 3.22-.19 5.528v.115c0 2.308 0 4.117.19 5.529.194 1.445.6 2.585 1.494 3.48.895.894 2.035 1.3 3.48 1.494 1.411.19 3.22.19 5.529.19h.114c2.309 0 4.118 0 5.53-.19 1.444-.195 2.584-.6 3.479-1.495.828-.828 1.238-1.867 1.448-3.166.207-1.277.232-2.883.235-4.898a.75.75 0 1 0-1.5-.003c-.003 2.04-.031 3.523-.216 4.661-.18 1.116-.5 1.817-1.028 2.346-.57.57-1.34.896-2.619 1.068-1.3.175-3.008.176-5.386.176s-4.086-.001-5.386-.176c-1.279-.172-2.05-.499-2.62-1.068-.569-.57-.896-1.34-1.068-2.62-.174-1.3-.176-3.007-.176-5.386 0-2.378.002-4.086.176-5.386.172-1.278.5-2.05 1.069-2.619.528-.528 1.23-.847 2.345-1.028 1.138-.184 2.621-.212 4.661-.216Z'/%3E%3Cpath d='M15.906 2c0 .414.336.75.75.75h3.533l-7.439 7.44V8a.75.75 0 0 0-1.5 0v4c0 .414.336.75.75.75h4a.75.75 0 0 0 0-1.5h-2.19l7.44-7.44v3.534a.75.75 0 0 0 1.5 0V2a.75.75 0 0 0-.75-.75h-5.344a.75.75 0 0 0-.75.75Z'/%3E%3C/g%3E%3C/svg%3E");
}

.component-previews .get-code:active,
.preview-component:active{
  transform: scale(.8);
}

@media (max-width: 750px) {
  .component-previews{
    justify-content: center;
  }
}

.component-grids{
  display: grid;
  grid-template-rows: repeat(6, 10rem);
  grid-template-columns: repeat(10, 1fr);
}

.component-grids .component,
.clipboard .component,
.component-preview-lg .component{
  @apply px-3 py-9 rounded-md border border-dashed;
  position: relative;
}

.component-grids .component,
.clipboard .component{
  @apply bg-blue-50;
}

.component-grids .component,
.clipboard .component,
.component-preview-lg .component{
  @apply bg-blue-500;
}

.component-grids .component::before,
.clipboard .component::before,
.component-preview-lg .component::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(circle, #2563eb 10%, transparent 11%);
  background-size: 1em 1em;
  opacity: .5;
  inset: 0;
}

.component-grids .component::before,
.clipboard .component::before,
.component-preview-lg .component::before{
  background: radial-gradient(circle, #dbeafe 10%, transparent 11%);
  background-size: 1em 1em;
}

.component-grids .component > span{
  @apply absolute text-sm text-blue-800 font-semibold;
  top: -1.8rem;
  left: 0;
}

.themes li{
  @apply relative w-5 h-5 bg-gradient-to-br rounded-full shadow-2xl cursor-pointer transition-all;
}

.themes li:nth-of-type(1)::before{
  content: '';
  @apply absolute rounded-full border-2 border-blue-100;
  width: 120%;
  height: 120%;
  top: calc(var(--circleY, -0%) - 10%);
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
}

.code-tabs li{
  @apply pl-10 pr-5 py-2 relative font-semibold text-blue-700 bg-blue-50 rounded-full border border-dashed border-blue-600 transition-all text-sm;
}

.code-tabs li::before{
  content: '';
  @apply w-4 h-4 border-2 border-blue-600 absolute rounded-full shadow-inner transition-all;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.code-tabs li.active,
.code-tabs li:hover{
  @apply opacity-100 shadow-2xl;
}

.code-tabs li:not(.active):hover::before{
  background: radial-gradient(circle at center, #83a0f0 40%, #dbeafe 50%);
}

.code-tabs li.active::before{
  background: radial-gradient(circle at center, #1d4ed8 40%, #dbeafe 50%);
}

.preview .tabs{
  @apply bg-blue-50 rounded-full border border-blue-200 shadow-xl relative;
}

.preview .tab{
  @apply rounded-full text-sm px-5 py-2 cursor-pointer transition-all select-none;
  z-index: 2;
}

.preview .tab.active{
  @apply text-blue-50;
}

.preview .tabs::before{
  content: '';
  width: var(--tabW);
  height: var(--tabH);
  @apply bg-gradient-to-br from-blue-400 rounded-full to-blue-700 transition-all;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px, rgba(0, 0, 0, 0.05) 0px -3px 0px inset;
  position: absolute;
  left: var(--tabX);
  z-index: 1;
  transition-timing-function: cubic-bezier(.5,.75,.75,1.25);
}

.preview .tab:hover{
  @apply border-blue-200;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, .1);
}

