@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root{
  --bg-50 : #eef4ff,
  --bg-100: #d9e5ff,
  --bg-200: #bcd3ff,
  --bg-300: #8eb8ff,
  --bg-400: #5990ff,
  --bg-500: #3f71ff,
  --bg-600: #1b45f5,
  --bg-700: #1432e1,
  --bg-800: #1729b6,
  --bg-900: #19298f,
  --bg-950: #141b57,
}

html{
  @apply  min-h-screen bg-blue-100;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .wrapper{
    @apply  w-full h-full max-w-6xl mx-auto px-6 lg:px-8;
  }

  .grids-container{
    @apply  max-w-6xl mx-auto px-4 lg:px-8;
  }

  .cutting-effect{
    @apply relative
  }

  .cutting-effect::before{
    content: '';
    @apply w-6 h-6;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M157.732 113.13a8 8 0 0 1 2.085-11.12l67.665-46.297a8 8 0 0 1 9.036 13.205l-67.666 46.298a7.998 7.998 0 0 1-11.12-2.085Zm80.87 85.072a7.998 7.998 0 0 1-11.12 2.085L136 137.694l-42.506 29.083a36.034 36.034 0 1 1-9.05-13.195L121.832 128l-37.389-25.582a35.846 35.846 0 1 1 9.05-13.194l143.025 97.858a8 8 0 0 1 2.085 11.12ZM80 180a20 20 0 1 0-5.858 14.142A19.867 19.867 0 0 0 80 180Zm-5.858-89.858a20 20 0 1 0-28.284 0 19.867 19.867 0 0 0 28.284 0Z'/%3E%3C/svg%3E");
    position: absolute;
    bottom: -.75rem;
  }

  .pri-btn{
    @apply pl-6 pr-12 py-2 bg-gradient-to-br from-blue-400 to-blue-700 text-white rounded-full;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px, rgba(0, 0, 0, 0.05) 0px -3px 0px inset;
  }
}

.pri-btn span{
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 13.8h-1.37c-1.409 0-2.113 0-2.408-.462-.295-.461.001-1.1.593-2.378l2.731-5.9c.375-.808.562-1.212.758-1.17.196.044.196.49.196 1.38V9.7c0 .236 0 .354.073.427.073.073.191.073.427.073h1.37c1.409 0 2.113 0 2.408.462.295.461-.001 1.1-.593 2.378l-2.731 5.9c-.375.808-.562 1.212-.758 1.17C12 20.065 12 19.62 12 18.73V14.3c0-.236 0-.354-.073-.427-.073-.073-.191-.073-.427-.073Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.app{
  z-index: 1;
  position: relative;
}

.app::before{
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #2563eb 10%, transparent 11%),radial-gradient(circle at bottom left, #2563eb 5%, transparent 6%),radial-gradient(circle at bottom right, #2563eb 5%, transparent 6%),radial-gradient(circle at top left, #2563eb 5%, transparent 6%),radial-gradient(circle at top right, #2563eb 5%, transparent 6%);
  background-size: 1em 1em;
  background-attachment: fixed;
  position: absolute;
  inset: 0;
  opacity: .25;
  mask-image: linear-gradient(to right, #000, transparent, #000);
  z-index: -1;
}


