.calendar {
  --priBg: 28, 28, 40;
  --pri: rgb(30, 32, 34);
  --sec: rgb(34, 38, 47);
      
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .6s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1.2);
}

.calendar[data-state='open']{
  transform: translateY(-10rem);
}

.calendar-input {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.375rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 0.75rem;
  background: var(--pri);
  box-shadow: rgba(var(--priBg), 0.4) 0px 2px 4px, rgba(var(--priBg), 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.calendar-input label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(228 228 231 / 1);
  position: relative;
}

.calendar-input input[type='button'] {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12c0-3.771 0-5.657 1.172-6.828C4.343 4 6.229 4 10 4h4c3.771 0 5.657 0 6.828 1.172C22 6.343 22 8.229 22 12v2c0 3.771 0 5.657-1.172 6.828C19.657 22 17.771 22 14 22h-4c-3.771 0-5.657 0-6.828-1.172C2 19.657 2 17.771 2 14v-2Z' stroke='%23d1d5db' stroke-width='1.5'/%3E%3Cpath d='M7 4V2.5M17 4V2.5M2.5 9h19' stroke='%23d1d5db' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M18 17a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM18 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM13 17a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM13 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM8 17a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM8 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z' fill='%23d1d5db'/%3E%3C/svg%3E%0A");
}

.calendar-input label::before {
  pointer-events: none;
  position: absolute;
  right: -0.75rem;
  height: 100%;
  width: 0px;
  border-width: 1px;
  border-color: rgb(156 163 175 / 1);
  opacity: 0.2;
  content: '';
}

.calendar-body {
  position: absolute;
  width: 20rem;
  border-radius: 0.5rem;
  display: none;
  top: calc(100% + .5rem);
  background: var(--pri);
  box-shadow: rgba(var(--priBg), 0.4) 0px 2px 4px, rgba(var(--priBg), 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.calendar[data-state='open'] .calendar-body{
  display: flex;
  clip-path : circle(0% at 70% 0%);
  animation: show-calendar .6s ease-in forwards;
}

.calendar[data-state='closing'] .calendar-body{
  display: flex;
  clip-path : circle(150% at 70% 0%);
  pointer-events: none;
  animation: close-calendar .6s ease-out .3s forwards;
}

.calendar[data-state='close'] .calendar-body{
  display: none;
}

@keyframes show-calendar{
  to{
    clip-path : circle(150% at 70% 0%);
  }
}

@keyframes close-calendar{
  to{
    clip-path : circle(0% at 70% 0%);
  }
}

.calendar-body {
  flex-direction: column;
  gap: 0.375rem;
  padding: 1rem;
}

.calendar-body-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.75rem;
  color: rgb(229 231 235);
}

.calendar-body-header button {
  cursor: pointer;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgb(75 85 99);
  padding: 0.375rem;
  color: rgb(156 163 175);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.calendar-body-header button:hover {
  border-color: rgb(253 186 116);
  color: rgb(253 186 116);
}

.calendar-body-header button:active {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: scaleX(.9) scaleY(.9);
}

.calendar-body-header button{
  background: var(--sec);
}

.calendar-body-header button svg {
  height: 1.25rem;
  width: 1.25rem;
}

.calendar-body-header div{
  --currentMonth: 0;
  height: 2rem;
  width: 12rem;
  overflow: hidden;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
}

.calendar-body-header div ul {
  position: relative;
  height: 100%;
  width: 100%;
}

.calendar-body-header div ul li{
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  text-transform: uppercase;
}

.calendar[data-state='open'] .calendar-body-header div ul li span{
  transform: translateY(-.5rem);
  opacity: 0;
  animation: month-anim .6s ease var(--animDelay) forwards;
}

.calendar[data-state='closing'] .calendar-body-header div ul li span{
  transform: translateY(0);
  opacity: 1;
  animation: month-anim-backwards .6s ease var(--animDelay) forwards;
}

@keyframes month-anim{
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes month-anim-backwards{
  to{
    transform: translateY(-.5rem);
    opacity: 0;
  }
}

.calendar-body-header div ul li span {
  font-size: 0.75rem;
  line-height: 1rem;
  transform: translateY(-.5rem);
  opacity: 0;
}

.calendar-body-cnts {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.calendar-body-cnts ul{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.375rem;
}

.calendar-body-cnts ul:nth-of-type(1) li {
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(156 163 175);
}

.calendar-body-cnts ul:nth-of-type(2) li {
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  background: var(--sec);
  transform: translate(-10%, -10%);
  opacity: 0;
}

.calendar-body-cnts ul:nth-of-type(2) li:not(.dummy) {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: rgb(209 213 219);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.calendar-body-cnts ul:nth-of-type(2) li:not(.dummy):hover {
  border-color: rgb(253 186 116 / 0.5);
  color: rgb(249 250 251);
}

.calendar[data-state='open'] .calendar-body-cnts ul:nth-of-type(2) li{
  animation: dates-forward-anim .6s cubic-bezier(0.23, 1, 0.32, 1.2) var(--animationDelayForwards) forwards;
}

.calendar[data-state='closing'] .calendar-body-cnts ul:nth-of-type(2) li{
  opacity: 1;
  transform: translate(0, 0);
  animation: dates-backward-anim .6s cubic-bezier(0.23, 1, 0.32, 1.2) var(--animationDelayBackwards) forwards;
}

.calendar-body[data-state='navigate'] .calendar-body-cnts ul:nth-of-type(2) li{
  opacity: 1;
  transform: translate(0, 0);
  animation: dates-backward-anim .6s cubic-bezier(0.23, 1, 0.32, 1.2) var(--animationDelayBackwards) forwards;
}

.calendar-body[data-state='navigate'] .calendar-body-header div ul li span{
  transform: translateY(0);
  opacity: 1;
  animation: month-anim-backwards .6s ease var(--animDelay) forwards;
}

.calendar-body-cnts ul:nth-of-type(2) li.today {
  border-style: solid;
  border-color: rgb(253 186 116);
  font-weight: 600;
  color: rgb(253 186 116);
}

.calendar-body-cnts ul:nth-of-type(2) li.dummy {
  cursor: not-allowed;
  color: rgb(107 114 128);
}

@keyframes dates-forward-anim{
  to{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes dates-backward-anim{
  to{
    opacity: 0;
    transform: translate(-10%, -10%);
  }
}

.calendar-body hr {
  margin-top: 0.375rem;
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(55 65 81);
  -webkit-mask-image: linear-gradient(to right, transparent, #000, transparent);
  mask-image: linear-gradient(to right, transparent, #000, transparent);
}